*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
width: 100%;
overflow-x: hidden;
}

body{    /*WHOLE PAGE*/
    background: #F9F6F2;
    white-space: nowrap;
}
header{    /*HEADER WITH NAVIGATION AT TOP OF PAGE*/
    position: sticky;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background: #AA9D94;
}
header .considercomf{    /*LOGO/STORE NAME IN HEADER*/
    position: absolute;
    display: flex;
    justify-content: center;
    margin-right: 990px;
    margin-top: 14px;
}

header .considercomf h1{    /*LOGO TEXT*/
    color: white;
    text-decoration:none;
}

header .head ul{    /*LIST OF PAGES IN NAVIGATION*/
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 17px;
}

header .head ul li{    /*EACH ITEM OF LIST*/
    padding: 10px;
    display: inline-block;
}


header .head ul p{    /*REDIRECTION OF EACH ITEM*/
    text-decoration: none;
    color: white;
    margin-top: 1.6%;
}

header .head ul p a{    /*REDIRECTION OF EACH ITEM*/
    text-decoration: none;
    color: white;
    margin-top: 1.6%;
}

header .head ul li a{    /*REDIRECTION OF EACH ITEM*/
    text-decoration: none;
    color: white;
}

header .search{    /*SEARCH BAR + BUTTON*/
    display: flex;
    justify-content: center;
    width: 7%;
    min-width: 7%;
    height: 35%;
    min-height: 35%;
}

header .search input{    /*SEARCH BAR IN NAVIGATION HEADER*/
    width: auto;
    min-width: auto;
    height: 40px;
    margin-top: 80%;
    margin-right: 80%;
    padding: 10px;
    color:white;
    border: 1px solid white;
    outline: none;
    border-radius: 25px;
}

header .search a{    /*SEARCH BUTTON*/
    width: 40px;
    height: 40px;
    margin-top: 80%;;
    margin-right: 80%;
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background: #AA9D94;
    border-radius: 25px;
}

main .banner{
    display: flex;
    justify-content: center;
}

main .banner img{
    height: 600px;
    min-height: 600px;
    max-width: none;
    max-height: none;
    margin-left: -200px;
}
main .banner div h1{
    position: relative;
    text-align: center;
    top: 220px;
    left: 570px;
    letter-spacing: 10px;
    font-size: 50px;
    color: white;
}

.shopsofas{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.shopsofas h1{  /*HUGE "SHOP SOFAS" BANNER*/
    margin-top: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #AA9D94;
    color: WHITE;
}

.xmaterials{    /* FOUR IMAGES */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 19px;
}

.materialname h2{
    outline: none;
    background: none;
    color: black;
    font-weight: lighter;
    position: relative;
    margin-left: 25%;
    padding: 10px;
    border-radius: 25px;
}
.materialname p{    /*SET OF IMAGES*/
    outline: none;
    background: none;
    color: black;
    font-weight: lighter;
    position: relative;
    margin-left: 30%;
    padding: 2px;
    border-radius: 25px;
}

.xmaterials .indivmaterials img {
    width: 90%;
    height: 90%;
    border-radius: 25px;
    min-width: 90%;
    min-height: 90%;
}

.outofstock p{    /*TEXT FOR ITEM OUT OF STOCK*/
    text-align: center;
}

.shoplayouts{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.shoplayouts h1{  /* HUGE BANNER */
    margin-top: 60px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #AA9D94;
    color: WHITE;
}

.xlayouts{    /*SET OF IMAGES*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.layoutname p{    /*NAME UNDER IMAGE*/
    outline: none;
    background: none;
    color: black;
    font-weight: lighter;
    margin-left: 26%;
    padding: 2px;
    border-radius: 25px;
}
.xlayouts .indivlayouts img {    /*INDIVIDUAL IMAGES*/
    width: 75%;
    height: 75%;
    border-radius: 25px;
    min-width: 75%;
    min-height: 75%;
}

.contact{    /*CONTACT PAGE*/
    text-align: center;
    padding-top: 80px;
    padding-bottom: 7px;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    background: #AA9D94;
    color: WHITE;
}
.contact ul{    /*CONTACT LIST*/
    padding-top: 30px;
    margin: 10px;
    line-height: 35px;
}

.oops{    /*'OOPS' PAGE */
    text-align: center;
    padding-top: 80px;
    padding-bottom: 7px;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    background: #AA9D94;
    color: WHITE;
}
.oops p{    /*TEXT ON 'OOPS' PAGE*/
    line-height: 35px;
}

.oops button{    /*BUTTON REDIRECTING TO HOME*/
    margin-bottom: 10px;
    outline: none;
    background: #AA9D94;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    padding: 8px;
}

footer{
    position: absolute;
    justify-content: center;
    display: inline-flex;
    width: 100%;
    height: 400px;
    margin: 20px auto;
    padding-top: 20px;
    border-top: 2px solid white;
}

footer div p{
    justify-content: center;
    margin-left: 69px;
    margin-bottom: 10px;
}

footer div input{
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 10px;
    width: 70%;
    padding: 8px;
    border: 1px solid white;
}

footer div button{
    outline: none;
    background: #AA9D94;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    padding: 8px;
}

footer div i{
    margin-left: 60px;
    padding: 10px 11px;
    border-radius: 50%;
    width: 40px;
    border: 1px solid white;
}

footer div ul li{
    list-style: none;
    margin: 10px auto;
}

footer ul li a{
    margin-left: 70px;
    text-decoration: none;
    color: #757575;
}


@media only screen and (max-width: 1430px) {
  header .head ul p {
    font-size: 0;
  }
}

@media only screen and (max-width: 1430px) {
  header .head ul{    /*LIST OF PAGES IN NAVIGATION*/
    margin-left: 350px;
}
}

@media only screen and (max-width: 1430px) {
    header .considercomf h1{    /*LOGO TEXT*/
    margin-left: 340px;
}
}

@media only screen and (max-width: 1430px) {
    header .search{    /*SEARCH BAR IN NAVIGATION HEADER*/
    margin-left: 70%;
}
}